:root {
	/* Fonts */
	--general-font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	/* Common Colors */
	--yellow-bold: #f2c615;

	/* Light Theme */
	--light-main-bg: var(--dark-main-bg);
	--light-bg: var(--dark-text);
	--light-text: var(--dark-bg);
	--light-border: var(--dark-border);

	--light-job-company: var(--dark-job-company);
	--light-job-date: var(--dark-job-date);

	/* Dark Theme */
	--dark-main-bg:
		radial-gradient(circle at 50% -20%, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0) 50%),
		linear-gradient(to bottom, #181e3b, #030712);
	--dark-bg: #1c2633;
	--dark-text: #f3f4f6;
	--dark-border: #314158;

	--dark-job-company: #2cc9ff;
	--dark-job-date: #fffc;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--general-font);
	background: var(--dark-main-bg);
	color: var(--dark-text);
}