:root {
	/* Fonts */
	--general-font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root.light {
	/* Light mode */
	--main-background:
		radial-gradient(circle at 50% -20%, #0000000d 0%, #ffffff00 50%),
		linear-gradient(to bottom, #f4f6ff, #e8ecf7);
	--background: #f3f4f6;
	--text: #282828;
	--border: #d1d5db;
	--bold: #ba9500;

	--job-company: #2c68ff;
	--job-date: #262626cc;

	--technology-background: #e3e3e3;
}

:root.dark {
	/* Dark mode */
	--main-background:
		radial-gradient(circle at 50% -20%, #ffffff0d 0%, #00000000 50%),
		linear-gradient(to bottom, #181e3b, #030712);
	--background: #1c2633;
	--text: #f3f4f6;
	--border: #314158;
	--bold: #f2c615;

	--job-company: #2cc9ff;
	--job-date: #fffc;

	--technology-background: #1c2633;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--general-font);
	background: var(--main-background);
	color: var(--text);
}

p {
	text-wrap: pretty;
}