:root {
	/* Font family */
	--general-font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	/* Font size */
	--xsmall-font-size: 0.85rem;
	--small-font-size: 1rem;
	--medium-font-size: 1.1rem;
	--large-font-size: 1.8rem;
	--xlarge-font-size: 2.75rem;

	/* Transparent color */
	--transparent-color: #ffffff00;
}

:root.light {
	/* General */
	--main-background-color:
		radial-gradient(circle at 50% -20%, #0000000d 0%, #ffffff00 50%),
		linear-gradient(to bottom, #f4f6ff, #e8ecf7);
	--background-color: #f3f4f6;
	--text-color: #282828;
	--border-color: #d1d5db;
	--bold-color: #ba9500;

	/* Experience */
	--job-company-color: #2c68ff;
	--job-date-color: #262626cc;

	/* Technologies */
	--technology-background-color: #e3e3e3;
}

:root.dark {
	/* General */
	--main-background-color:
		radial-gradient(circle at 50% -20%, #ffffff0d 0%, #00000000 50%),
		linear-gradient(to bottom, #181e3b, #030712);
	--background-color: #1c2633;
	--text-color: #f3f4f6;
	--border-color: #314158;
	--bold-color: #f2c615;

	/* Experience */
	--job-company-color: #2cc9ff;
	--job-date-color: #fffc;

	/* Technologies */
	--technology-background-color: #1c2633;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--general-font-family);
	font-size: var(--medium-font-size);
	background: var(--main-background-color);
	color: var(--text-color);
}

p {
	text-wrap: pretty;
}