{
    "singleQuote": true,
    "semi": false,
    "trailingComma": "es5",
    "printWidth": 100,
    "tabWidth": 4,
    "bracketSpacing": false,
    "arrowParens": "always",
    "endOfLine": "auto"
}
