services:
  frontend:
    build: ./frontend
    ports:
      - "3000:80"

# depends_on:
#   - backend

# backend:
#   build: ./backend
#   ports:
#     - "4000:4000"
#   environment:
#     - DATABASE_URL=postgresql://user:password@db:5432/mydb
#   depends_on:
#     - db

# db:
#   image: postgres:15
#   environment:
#     POSTGRES_USER: user
#     POSTGRES_PASSWORD: password
#     POSTGRES_DB: mydb
#   ports:
#     - "5432:5432"
#   volumes:
#     - pgdata:/var/lib/postgresql/data

# volumes:
#   pgdata:
