.end-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 100%;
	max-width: 55rem;
	margin: 5% auto;

	& p {
		margin: 0;
		font-size: 16px;
		font-weight: 500;

		&:last-child:hover {
			cursor: pointer;
			color: var(--yellow-bold);
		}
	}
}