.end-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3% 0;
}

.end-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1;
	max-width: 55rem;

	& p {
		margin: 0;
		color: #e4e4e7e6;
		font-size: 16px;
		font-weight: 500;

		&:last-child:hover {
			cursor: pointer;
			color: #f2c615;
		}
	}
}