.menu-header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0;
	margin-top: 10px;
}

.menu-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1%;

	animation: solidMenu 1s both;
	animation-timeline: scroll(root);
	animation-range: 0 1px;

	& a {
		padding: 8px;
		color: white;
		font-size: 16px;
		font-weight: 500;

		&:hover {
			cursor: pointer;
			color: #f2c615;
		}
	}
}

@keyframes solidMenu {
	from {
		outline: #314158 0px solid;
		border-radius: 50px;
	}

	to {
		outline: #314158 1px solid;
		border-radius: 50px;
		background-color: #1c2633;
	}
}