.menu-header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0;
	margin-top: 10px;
}

.menu-nav {
	display: flex;
	padding: 0 1%;

	animation: solidMenu 1s both;
	animation-timeline: scroll(root);
	animation-range: 0 1px;

	& a,
	& div {
		padding: 8px;
		color: var(--dark-text);
		font-size: 16px;
		font-weight: 500;
		text-decoration: none;

		&:hover {
			cursor: pointer;
			color: var(--yellow-bold);
		}
	}
}

.menu-div {
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes solidMenu {
	from {
		outline: var(--dark-border-Button) 0px solid;
		border-radius: 50px;
	}

	to {
		outline: var(--dark-border-Button) 1px solid;
		border-radius: 50px;
		background-color: var(--dark-bg-Button);
	}
}