.header {
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: fixed;
	margin-top: 10px;
	z-index: 2;
}

.header-nav {
	position: relative;
	display: flex;
	gap: .5rem;
	padding: 0 .5rem;

	animation: solidMenu 1s both;
	animation-timeline: scroll(root);
	animation-range: 0 1px;

	&>a,
	&>div>div {
		white-space: nowrap;
		padding: .5rem;
		color: var(--dark-text);
		font-weight: 500;
		text-decoration: none;
	}

	&>a:hover {
		cursor: pointer;
		color: var(--yellow-bold);
	}
}

.header-current-modes {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	&>Svg:hover {
		transform: scale(1.2);
	}
}

.header-modes {
	position: absolute;
	top: 43px;
	right: 2px;
	display: flex;
	flex-direction: column;
	gap: .25rem;
	width: 100px;

	background-color: var(--dark-bg);
	border: 1px solid var(--dark-border);
	border-radius: 5px;

	&>span {
		padding: .25rem .5rem;

		&:hover {
			cursor: pointer;
			color: var(--yellow-bold);
		}
	}
}

@keyframes solidMenu {
	from {
		outline: var(--dark-border) 0px solid;
		border-radius: 50px;
	}

	to {
		outline: var(--dark-border) 1px solid;
		border-radius: 50px;
		background-color: var(--dark-bg);
	}
}