.content {
	max-width: 50%;
	min-width: 500px;
	margin: 100px auto 0 auto;
	padding: 0 1rem;

	& section {
		padding: 3rem;
	}
}

.content-presentation {
	display: flex;
	flex-wrap: wrap;
	justify-items: center;
	align-items: center;
	gap: 3rem;

	& div {
		& .content-image {
			max-width: 200px;
			border-radius: 50%;
		}

		& h1 {
			margin: 0;
			margin-bottom: 1.5rem;
			font-size: 2.75rem;
		}

		& p {
			margin: 0;
			margin-bottom: 2rem;
			max-width: 458px;
			font-size: 1.25rem;
			font-weight: 600;

			& strong {
				color: var(--yellow-bold);
				font-weight: 500;
			}
		}

		& .content-buttons {
			display: flex;
			gap: 1rem;
		}
	}
}

.content-experience {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin: 0;
	padding: 0;
}

#technologies {
	&>p {
		margin: 0;
		margin-bottom: 2rem;
		font-size: 1.1rem;

		& strong {
			color: var(--yellow-bold);
			font-weight: 500;
		}
	}
}

.content-technologies {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;

	& article {
		padding: 1.5rem;
		background: black;
		border: 1px solid var(--dark-border);
		border-radius: 1rem;

		& h3 {
			text-align: center;
			margin: 0;
			margin-bottom: 2.5rem;
			font-size: 1.8rem;
		}

		& aside {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
			gap: 1.5rem;
		}
	}
}

@media (max-width: 1000px) {
	.content-technologies {
		grid-template-columns: 1fr;
	}
}