.content-main {
	margin-top: 120px;

	& section {
		max-width: 55rem;
		margin: 0 auto;
		padding: 3% 0;
	}
}

.content-presentation {
	& h1 {
		margin: 0;
		font-size: 3rem;
	}

	& p {
		margin: 1.5rem 0;
		max-width: 35rem;
		font-size: 1.25rem;
		font-weight: 600;

		& strong {
			color: var(--yellow-bold);
			font-weight: 500;
		}
	}

	& .content-buttons {
		display: flex;
		gap: 1rem;
		padding-top: 0.5rem;
	}
}