.tool {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.6rem;
	/* width: fit-content; */
	/* min-width: 60px; */

	& p {
		margin: 0;
		white-space: nowrap;
	}
}