.content {
	max-width: 50%;
	min-width: 570px;
	margin: 120px auto 0 auto;

	&>section {
		padding: 3rem;
		scroll-margin-top: 50px;
	}
}

.content-presentation {
	display: flex;
	justify-items: center;
	align-items: center;
	gap: 3rem;

	&>div {
		&>.content-image {
			max-width: 240px;
			border-radius: 50%;
		}

		&>h1 {
			margin-bottom: 1.5rem;
			font-size: var(--xlarge-font-size);
			white-space: nowrap;
		}

		&>p {
			margin-bottom: 2rem;
			width: 374px;

			&>strong {
				color: var(--bold-color);
				font-weight: 500;
			}
		}

		&>.content-buttons {
			display: flex;
			gap: 1rem;
		}
	}
}

.content-experience {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-left: .8rem;
}

#technologies {
	&>p {
		margin-bottom: 2.5rem;

		&>strong {
			color: var(--bold-color);
			font-weight: 500;
		}
	}
}

.content-technologies {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;

	&>article {
		padding: 1.5rem;
		background-color: var(--technology-background-color);
		border: 1px solid var(--border-color);
		border-radius: 1rem;

		&>h3 {
			text-align: center;
			margin-bottom: 2.5rem;
			font-size: var(--large-font-size);
		}

		&>aside {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
			gap: 1.5rem;
		}
	}
}

.content-about-me>p {
	&:nth-child(1) {
		margin-bottom: 1.5rem;
	}

	&>strong {
		color: var(--bold-color);
		font-weight: 400;
	}
}

@media (max-width: 799px) {
	.content>section {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.content-presentation>div:nth-child(2) {
		text-align: center;
	}

	.content-experience .job-title {
		display: block;

		&>h3 {
			margin-bottom: .8rem;
		}

		& :nth-child(2) {
			display: none;
		}
	}

	#technologies>p {
		text-align: center;
	}

	.content-technologies {
		width: 80%;

		&>article>aside {
			gap: 1rem !important;
		}
	}

	.content-about-me {
		text-align: center;
	}
}

@media (max-width: 1279px) {
	.content-presentation {
		flex-wrap: wrap;
	}

	.content-technologies {
		grid-template-columns: 1fr;
	}
}