.header {
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: fixed;
	margin-top: 10px;
	z-index: 2;
}

.header-nav {
	position: relative;
	display: flex;
	gap: .5rem;
	align-items: center;
	padding: 0 .5rem;

	animation: solidMenu 1s both;
	animation-timeline: scroll(root);
	animation-range: 0 1px;

	&>a,
	&>div>div {
		white-space: nowrap;
		padding: .5rem;
		color: var(--text-color);
		font-weight: 500;
		text-decoration: none;
	}

	&>a:hover {
		cursor: pointer;
		color: var(--bold-color);
	}
}

.header-current-state {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	&>svg,
	&>img {
		&>path {
			fill: var(--text-color);
		}

		&:hover {
			transform: scale(1.2);
		}
	}
}

.header-states {
	position: absolute;
	top: 48px;
	display: flex;
	flex-direction: column;
	gap: .25rem;
	width: 100px;
	font-size: var(--small-font-size);

	background-color: var(--background-color);
	border: 1px solid var(--border-color);
	border-radius: 5px;

	&>span {
		padding: .25rem .5rem;

		&:hover {
			cursor: pointer;
			color: var(--bold-color);
		}
	}
}

@keyframes solidMenu {
	to {
		border-radius: 50px;
		outline: var(--border-color) 1px solid;
		background-color: var(--background-color);
	}
}