.link-button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: .5rem;
	padding: .4rem 1rem;

	border: none;
	text-decoration: none;
	outline: var(--border) 1px solid;
	border-radius: 50px;
	background-color: var(--background);
	color: var(--text);
	font-weight: 500;

	&>svg>path {
		fill: var(--text);
	}

	&:hover {
		cursor: pointer;
		background-color: var(--text);
		color: var(--background);

		&>svg>path {
			fill: var(--background);
		}
	}
}