.footer {
	display: flex;
	justify-content: space-between;
	max-width: 50%;
	min-width: 570px;
	margin: 3rem auto;

	&>p {
		margin: 0;
		padding: 0 3rem;
		font-weight: 500;

		&:last-child:hover {
			cursor: pointer;
			color: var(--yellow-bold);
		}
	}
}