.button-a {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	padding: 5px 3%;

	background-color: #1c2633;
	border: none;
	outline: #314158 1px solid;
	border-radius: 50px;
	color: white;
	font-weight: 400;

	&:hover {
		cursor: pointer;
		background-color: #f3f4f6;
		color: #1c2633;
	}
}