.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	padding: 5px 3%;

	border: none;
	text-decoration: none;
	outline: var(--dark-border-Button) 1px solid;
	border-radius: 50px;
	background-color: var(--dark-bg-Button);
	color: var(--dark-text-Button);
	font-weight: 500;

	&:hover {
		cursor: pointer;
		background-color: var(--light-bg-Button);
		color: var(--light-text-Button);

		& svg {
			fill: var(--dark-bg-Button);
		}
	}
}