:root {
	/* Fonts */
	--general-font: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	/* Common Colors */
	--yellow-bold: #f2c615;

	/* Light Theme */
	--light-bg: #f3f4f6;
	--light-text: #1c2633;
	--light-border: #314158;

	/* Dark Theme */
	--dark-main-bg:
		radial-gradient(circle at 50% -20%, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0) 50%),
		linear-gradient(to bottom, #181e3b, #030712);
	--dark-bg: var(--light-text);
	--dark-text: var(--light-bg);
	--dark-border: var(--light-border);
}