:root {

	/* Fonts */
	--general-font: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	/* Common Colors */
	--yellow-bold: #f2c615;

	/* Light Theme */
	--light-bg-Button: #f3f4f6;
	--light-text-Button: #1c2633;
	--light-border-Button: #314158;

	/* Dark Theme */
	--dark-bg:
		radial-gradient(circle at 50% -20%, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0) 50%),
		linear-gradient(to bottom, #181e3b, #030712);
	--dark-text: var(--light-bg-Button);

	--dark-bg-Button: var(--light-text-Button);
	--dark-text-Button: var(--light-bg-Button);
	--dark-border-Button: var(--light-border-Button);
}