.header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 98%;
	top: 0;
	margin: 10px 1% 0 1%;
}

.header-nav {
	display: flex;
	padding: 0 1rem;

	animation: solidMenu 1s both;
	animation-timeline: scroll(root);
	animation-range: 0 1px;

	& a,
	& div {
		white-space: nowrap;
		padding: 8px;
		color: var(--dark-text);
		font-size: 16px;
		font-weight: 500;
		text-decoration: none;

		&:hover {
			cursor: pointer;
			color: var(--yellow-bold);
		}
	}
}

.header-div {
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes solidMenu {
	from {
		outline: var(--dark-border) 0px solid;
		border-radius: 50px;
	}

	to {
		outline: var(--dark-border) 1px solid;
		border-radius: 50px;
		background-color: var(--dark-bg);
	}
}