.footer {
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    min-width: var(--min-width);
    margin: 3rem auto;

    & * {
        margin: 0 3rem;
        opacity: 0.7;
    }

    & > a {
        text-decoration: none;
        color: var(--text-color);

        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }
}
