name: Main workflow

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]

jobs:
  sast:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci --no-fund --no-audit
      - name: Initialize SAST
        uses: github/codeql-action/init@v4
        with:
          languages: javascript
      - name: Run CodeQL SAST scan
        uses: github/codeql-action/analyze@v4

  # deploy:
  #   runs-on: ubuntu-latest
  #   needs: sast
  #   steps:
  #     - name: Download build
  #       uses: actions/download-artifact@v4
  #       with:
  #         name: build-${{ github.sha }}
  #         path: dist/
  #     - name: Run deploy
  #       run: ./scripts/deploy.sh

  # dast:
  #   runs-on: ubuntu-latest
  #   needs: deploy
  #   steps:
  #     - name: Run OWASP ZAP DAST scan
  #       uses: zaproxy/action-baseline@v0.15.0
  #       with:
  #         target: "https://web.com"
